<div class="block bw2">
<h2><%= t(:login)%></h2>
<div class="block_content">

<%= form_for(:session, :url => sessions_new_path) do |f| %>
    <%= f.label :email %></br>
    <%= f.text_field :email %></br>
    <%= f.label t(:password) %></br>
    <%= f.password_field :password %>
    </br>
    <%= f.submit t(:signin), :class => "sbmit"  %>
<% end %>
</div>
</div>
