<%= form_for(:session, :url => sessions_new_path) do |f| %>
    <%= f.label :email %></br>
    <%= f.text_field :email %></br>
    <%= f.label t(:password) %></br>
    <%= f.password_field :password %>
    </br>
    <%= f.submit t(:signin), :class => "sbmit"  %>
<% end %>
<%= link_to t(:newuser), signup_path, :class=>"lp10 f10" %>
