<% if @categories.blank? %>
<div class="message notice"><p class="m8"><%= t(:empty) %></p></div>
<% end %>
<% @categories.each do |c| %>
<li><%= link_to c.category_name, {:action => 'show', :id => c.id} -%></li>
<% end %>
