<h1>Add new category</h1>
<%= form_tag :action => 'create' %>
<p><label for="category_title">Category name</label>:
<%= text_field 'category', 'category_name' %></p>
<%= submit_tag "Create" %>
<%= link_to 'Back', {:action => 'list'} %>