<h1><%= @category.category_name %></h1>

<% if @items.blank? %>
<p>There are not any items currently in this category.</p>
<% else %>
<p>These are the current items in this category.</p>
<% end %>

<ul id="item">
<% @items.each do |i| %>
<li>
<p>
<%= link_to i.item_name, items_path(i.id) %>

<% if is_admin? %>
    <b><%= link_to 'Edit', items_edit_path(i.id) %></b>
    <b><%= link_to 'Delete', items_delete_path(i.id), :confirm => "Sure?"  %></b>
<% end %>
</li>
</p>

<% i.item_photos.each do |pix| %>
<%= image_tag pix.photo.url(:small) %>
<% end %>

<% end %>
</ul>

<%= link_to 'Back', {:action => 'list'} %>