<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user_to.user_name %>, у вас новое сообщение!</h1>
    <p>
      Пользователь <%= @user_from.user_name %> 
      интересуется вашим лотом "<%= @item %>"
    </p>
    <p>Пожалуйста, не отвечайте на это e-mail сообщение! </p>
  </body>
</html>
