<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to SKARB, <%= @user.user_name %></h1>
    <p>
      You have successfully signed up to xep.8800.org:4040,
      your username is: <%= @user.user_email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
     Do not reply to this message please! 
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
