Welcome to SKARB, <%= @user.user_name %>
===============================================
 
You have successfully signed up to xep.8800.org,
your username is: <%= @user.user_email %>.
 
To login to the site, just follow this link: <%= @url %>.
 
Do not reply to this email please!

Thanks for joining and have a great day!
