<%= form_for(:reply, :url => inbox_reply_path) do |f| %>
    <%= f.label t(:text_body) %></br>
    <%= f.text_area :msg_body, :size => "60x12", :wrap => "hard", :value => ">" + strip_tags(@msg.msg_body) %>
    </br>
    <%= f.submit t(:send), :class => "sbmit"  %>
<% end %>
