<% if @messages.blank? %>
<div class="message notice"><p class="m8"><%= t(:empty) %></p></div>
<% else %>
    <% @messages.each do |m| %>
    <div class="inbox_list_box">
    <div class="inbox_title">
	<% author = User.find_by_id(m.msg_author_id) %>
	<div class="inbox_title_right">
	<span class="f10 rp10"><%= link_to t(:delete), inbox_delete_path(m.id) %></span>
	</div>
	<span><strong><%= image_tag "/assets/icons/user.png"%><%= link_to author.user_name, user_path(author.id) %></strong></span>
	<span class="f10 c00">- <%= m.created_at %></span>
    </div>
	<%= m.msg_body.gsub(/\n/, '<br/>').html_safe %>
    </div>
    <% end %>
<%= paginate @messages %>
<% end %>