<% if @user_basket.blank? %>
<div class="message notice"><p class="m8 c00"><%= t(:empty) %></p></div>
<% else %>
<% @user_basket.each do |i| %>
<% c_item = Item.find_by_id(i.item_id) %>
<% if c_item.nil? %>
    <% i.destroy %>
<% else %>

<div class="list_box">
<div class="list_box_left">
<%= link_to(image_tag(c_item.item_photos.first.photo.url(:small)), items_path(c_item.id)) %>
</div>

<div class="list_box_right">
<span class="db c00 pb"><%= c_item.item_action.item_act %></span>
<span class="db pb button fr fb"><%= link_to t("Remove"), basket_delete_path(i.id), :configrm => "Sure?" %></span>
<% if i.status == ITEM_NEW %>
<span class="db button fr fb"><%= link_to t("NotifyOwner"), inbox_notify_path(c_item.id) %></span>
<% else %>
<br><br>
<span class="c00 fb fr cred"><%= t("waiting")%></span>
<% end %>
</div>

<div class="list_box_middle">
<h3><%= link_to c_item.item_name, items_path(c_item.id) %></h3>
<span class="db pb"><%= c_item.item_desc[0..80].concat("...") %></span>
<span class="db pb"><%= image_tag("/assets/icons/cost.png")%> <%= link_to Category.find(c_item.category_id).category_name, category_path(c_item.category_id) %></span>
<span class="db f10"><%= image_tag("/assets/icons/user.png")%> <%= User.find_by_id(c_item.user_id).user_name %></span>
<span class="c00 db f10"><%= c_item.created_at %></span>
</div>

</div>
<% end %>

<% end %>
<%= paginate @user_basket %>
<% end %>

