<style>
#nav a{display:block}
#nav td{padding:0;text-align:center}
.cur {font-weight:bold}
#nav {font-family: arial,sans-serif; font-size:small}
#nav a:link {text-decoration:none; color:#4496d3}
#nav a:hover {text-decoration:underline}
#nav a:active {color:#c11}
#nav a:visited {color:#2200C1}
.b {font-weight:bold}
</style>
<%= paginator.render do -%>
<table id="nav" style="border-collapse:collapse;text-align:left;direction:ltr;margin:17px auto 0"><tbody><tr valign="top">
<td class="b"><%= prev_page_tag -%></td>
<% each_page.select(&:inside_window?).each do |page| %><%= page_tag page -%><% end %>
<td class="b"><%= next_page_tag -%></td>
</tr></tbody></table>
<% end %>
