<style>
#nav a{display:block; color: black}
#nav td{width: 20px; border: 1px solid #F2F3F0; padding:0;text-align:center;}
#nav {font-family: arial,sans-serif; font-size: small;}
#nav a:hover {text-decoration:none; background: #F2F3E3 }
.b {font-weight:bold}
.cur {font-weight:bold;background: none repeat scroll 0% 0% #F2F3F0; border: 1px solid #F2F3F0 !important; color: #6F3000;}
</style>

<%= paginator.render do -%>
<table id="nav" cellspacing="2" style="border-collapse:separate;text-align:left;direction:ltr;margin:1px auto 0"><tbody><tr valign="top">
<td><%= prev_page_tag -%></td>
<% each_page.select(&:inside_window?).each do |page| %><%= page_tag page -%><% end %>
<td><%= next_page_tag -%></td>
</tr></tbody></table>
<% end %>
