<div class="block bw1">
<h2><%= t("edit_profile")%></h2>
<div class="block_content">
<%= form_for @user, :url => user_edit_path(@user), :html => {:multipart => true} do |f| %>

<%= errors_for(@user, t("error")).html_safe %>

<table>
<tbody>

<tr>
<td class="eformCln1 c00"><%= f.label t("name") %>:</td>
<td class="eformCln2"><%= f.text_field :user_name %></td>
</tr>

<tr>
<td class="eformCln1 c00"><%= f.label "E-Mail" %>:</td>
<td class="eformCln2"><%= f.text_field :user_email %></td>
</tr>

<tr>
<td class="eformCln1 c00"><%= f.label t("password") %>:</td>
<td class="eformCln2"><%= f.password_field :password %></td>
</tr>

<tr>
<td class="eformCln1 c00"><%= f.label t("confirmation") %>:</td>
<td class="eformCln2"><%= f.password_field :password_confirmation %></td>
</tr>

<tr>
<td class="eformCln1 c00"><%= f.label t("phone") %>:</td>
<td class="eformCln2"><%= f.text_field :user_phone %></td>
</tr>

<tr>
<td class="eformCln1 c00"><%= f.label t("city") %>:</td>
<td class="eformCln2"><%= collection_select :user, :user_city, City.find(:all), :id, :city_name %></td>
</tr>


<tr>
<td><br></td>
<td> </td>
</tr>

<tr>
<td class ="eformCln1"></td>
<td class="eformCln2"><%= image_tag @user.photo.url(:small), :style => "border: solid 1px;" %></td>
</tr>

<tr>
<td class ="eformCln1"></td>


<td class="eformCln2">

<div class="fm-item">
<%= f.file_field :photo,:id => "upload-file" %>
</div>

<div style="width: 50em;">
<button type="submit" id="upload-button">Submit</button>
<span id="file-name"></span>
</div>
</td>
</tr>

<tr>
<td class ="eformCln1"></td>
<td class="eformCln2 c00"><%= f.check_box :user_show_personal %><%= t("personal")%></td>
</tr>

<tr>
<td class ="eformCln1">
</td>
<td class="eformCln2" style="padding-top: 10px;"><%= f.submit t("save") %></td>
</tr>

</tbody>
</table>

<% end %>
</div>
</div>

<%= link_to t('back'), request.referer %>
