<% if @users.blank? %>
<div class="message notice"><p class="m8"><%= t(:empty) %></p></div>
<% else %>
<ul id="users">
<% @users.each do |u| %>
<li>

<%= link_to u.user_name, user_path(u.id) %>

<% if is_admin? %>
<b><%= link_to 'Edit', user_edit_path(u.id) %></b>
<b><%= link_to 'Delete', user_delete_path(u.id), :confirm => "Sure?"  %></b>
<% end %>

</li>
<% end %>
</ul>
<% end %>

<% if is_admin? %>
<p><%= link_to "Add new", {:action => 'new' }%></p>
<% end %>