<% if @items.blank? %>
<div class="message notice"><p class="m8"><%= t(:empty) %></p></div>
<% else %>

<% @items.each do |i| %>

<div class="list_box">
<div class="list_box_left">
<%= link_to(image_tag(i.item_photos.first.photo.url(:small)), items_path(i.id)) unless i.item_photos.first.nil? %>
</div>

<div class="list_box_right">
<span class="f10 fb"><%= link_to t(:edit), items_edit_path(i.id) %></span>
 <span class="f10 fb"><%= link_to t(:delete), items_delete_path(i.id), :confirm => "Sure?"  %></span>
<span class="act01 db c00 pb"><%= i.item_action.item_act %></span>
</div>

<div class="list_box_middle">
<h3><%= i.item_name %></h3>
<span class="db pb"><%= i.item_desc[0..80].concat("...") %></span>
<span class="db pb"><% Category.find(i.category_id).category_name %></span>
<span class="c00 db f10"><%= i.created_at %></span>
</div>

</div>
<% end %>
<% end %>
<%= paginate @items  %>
<p><%= link_to t("add"), items_new_path, :class => 'button' %></p>

