<div class="block">
<h2><%= t(:register) %></h2>
<div class="block_content">
<%= form_for @user, :url => user_create_path do |f| %>

<%= errors_for(@user, t(:user_error)).html_safe %>

<table>
<tbody>

<tr>
<td class="eformCln1 c00"><%= f.label t(:name) %></td>
<td class="eformCln2"><%= f.text_field :user_name %><span class="cred fb"> *</span></td>
</tr>

<tr>
<td class="eformCln1 c00"><%= f.label "e-mail" %></td>
<td class="eformCln2"><%= f.text_field :user_email %></td>
</tr>

<tr>
<td class="eformCln1 c00"><%= f.label t(:password) %></td>
<td class="eformCln2"><%= f.password_field :password %></td>
</tr>

<tr>
<td class="eformCln1 c00"><%= f.label t(:confirmation) %></td>
<td class="eformCln2"><%= f.password_field :password_confirmation %></td>
</tr>

<tr>
<td class="eformCln1 c00"><%= f.label t(:phone) %></td>
<td class="eformCln2"><%= f.text_field :user_phone %></td>
<tr>

<tr>
<td class="eformCln1 c00"><%= f.label t(:city) %></td>
<td class="eformCln2"><%= collection_select :user, :user_city, City.find(:all), :id, :city_name %></td>
</tr>

<tr>
<td class="eformCln1"> </td>
<td class="eformCln2 pb10"><%= show_simple_captcha(:object=>"user") %></td>
</tr>
<tr>
<td class="eformCln1"> </td>
<td class="eformCln2"><%= f.submit t(:create) %></td>
</tr>

</tbody>
</table>

<% end %>
</div>
</div>
