<h1><%= @user.user_name %></h1>
<div class="list_box">
<div id="divUserPhoto">
<div align="center" id="divUserPic">
<% if @user.photo.exists? %>
<%= image_tag @user.photo.url(:small) %>
<% else %>
<%= image_tag "/assets/photo.jpg" %>
<% end %>
</div>
</div>

<div class="list_box_middle lp10">
<span class="fr"><%= link_to t("edit"), user_edit_path(current_user.id),:class => "button c00" %></span>

<table>
<tbody>

<tr>
<td class="fb c00 fr"><%= t("name") %>: </td>
<td class=""><%= @user.user_name %></td>
</tr>

<tr>
<td class="fb c00 fr"><%= t("city")%>:</td> 
<td><%= @user.city %></td>
</tr>

<% if @user.user_show_personal || is_admin? %>
<tr>
<td class="fb c00 fr">E-mail:</td> 
<td><%= @user.user_email %></td>
</tr>
<tr>
<td class="fb c00 fr"><%= t("phone")%>:</td> 
<td><%= @user.user_phone %></td>
</tr>
<% end %>
<tr>
<td class="fb c00 fr"><%= t("created")%>:</td> 
<td><%= @user.created_at %></td>
</tr>
</tbody>
</table>

</div>
</div>
<%= link_to t("back"), request.referer %>
