<% if is_admin? %>
<span class="f10 fb"><%= link_to t(:edit), items_edit_path(item.id) %></span> .
<span class="f10 fb"><%= link_to t(:delete), items_delete_path(item.id), :confirm => "Sure?"  %></span>
<% end %>
