<div class="page-wrap">
<div style="margin-bottom:5px;">
<%= form_tag({:action => 'list'}, :method => "get") do %>
    <label for="f"><%= t(:filter)%></label>:
    <%= select_tag "category", options_for_select(Category.all.collect {|c| [ c.category_name, c.id ] }), {:include_blank => true} %>
    <%= select_tag "iaction", options_for_select(ItemAction.all.collect {|a| [ a.item_act, a.id ] }), {:include_blank => true} %>
    <label for="sort"><%=t(:sort)%></label>:
    <%= select_tag "sort", options_for_select({ "Дата" => "0", "Название" => "1", "Владелец" => "2", "Город" => "3" }) %>
    <%= submit_tag t(:search), :class => "fr"  %>
    <% end %>
</div>
</div>
