<div class="block">
<h2><%= t("edit")%></h2>
<div class="block_content">

<%= form_for @item, :url => items_edit_path(@item), :html => {:multipart => true} do |f| %>

<%= errors_for(@item, t("error")).html_safe %>

<table>
<tbody>

<tr>
<td class="eformCln1 c00"><%= f.label t("item_name") %></td>
<td class="eformCln2"><%= f.text_field :item_name %></td>
</tr>

<tr>
<td class="eformCln1 c00"><%= f.label t("description") %></td>
<td class="eformCln2"><%= f.text_area :item_desc, :size => "60x12" %></td>
</tr>
<tr>
<td class="eformCln1 c00"> </td>
<td class="eformCln2"><%= collection_select :item, :category_id, Category.find(:all), :id, :category_name %>
<%= collection_select :item, :item_action_id, ItemAction.find(:all), :id, :item_act %></td>
</tr>

<% x=0 %>
<%= f.fields_for :item_photos do |builder|  %>
<tr>
<td class="eformCln1"> </td>
<td class="eformCln2">
<%= image_tag @item.item_photos[x].photo.url(:small) %> 
    <% unless @item.item_photos[x].new_record? %>
	<br>
	<%= check_box_tag 'pix_destroy[]',x %>
	<%= f.label '_destroy', t(:delete) %>
    <% else %>
    <br>
    <div class="fm-item">
    <%= builder.file_field :photo,:id => "upload-file#{x}" %>
    </div>
    <div style="width: 50em;">
    <button type="submit" id="upload-button<%= x %>">Submit</button>
    <span id="file-name<%= x %>"></span>
    </div>
    <% end %>
<% x+=1 %>
</td>
</tr>
<% end %>

<tr>
<td class="eformCln1"> </td>
<td class="eformCln2"><%= f.submit t('update') %></td>
</tr>

</tbody>
</table>

<% end %>
</div>
</div>

<%= link_to t('back'), request.referer %>

