<%= render "sort_bar" %>
<% if @items.blank? %>
<div class="message notice"><p class="m8"><%= t(:empty) %></p></div>
<% else %>
<% @items.each do |i| %>
<div class="list_box">
<div class="list_box_left">
<%= link_to(image_tag(i.item_photos.first.photo.url(:small)), i.item_photos.first.photo.url(:large), :rel => "lightbox") unless i.item_photos.first.nil? %>
</div>

<div class="list_box_right">

<%= render :partial => "admin_edit", :locals => { :item => i } %>

<span class="act01 db c00"><%= i.item_action.item_act %></span>
<span class="db pb"><%= User.find_by_id(i.user_id).city %></span>

<% if signed_in? %>
    <% if i.user_id != current_user.id %>
	<% if current_user.basket_items.find_by_item_id(i.id) %>
	    <span class="db pb fb cred"><%= t(:in_basket)%></span>
	<% else %>
	    <span class="fr"><%= link_to t(:get), basket_add_path(i.id),:class => "button c00" %></span>
	<% end %>
    <% end %>
<% end %>
</div>

<div class="list_box_middle">
<h3><%= link_to i.item_name, items_path(i.id) %></h3>
<span class="db pb"><%= i.item_desc[0..80].concat("...") %></span>
<span class="db "><%= image_tag("/assets/icons/cost.png")%> <%= link_to Category.find(i.category_id).category_name, category_path(i.category_id) %></span>
<span class="db f10"><%= image_tag("/assets/icons/user.png")%> <%= User.find_by_id(i.user_id).user_name %></span>
<span class="c00 db f10"><%= i.created_at %></span>
</div>

</div>

<%= raw render(@items) %>

<% end %>
<%= paginate @items  %>
<% end %>

