<div class="block">
<h2><%= t(:add_item)%></h2>
<div class="block_content">

<%= form_for @item, :url => items_create_path, :html => {:multipart => true} do |f| %>

<%= errors_for(@item, t("error")).html_safe %>

<table>
<tbody>

<tr>
<td class="eformCln1 c00"><%= f.label t("item_name") %></td>
<td class="eformCln2"><%= f.text_field :item_name %></td>
</tr>

<tr>
<td class="eformCln1 c00"><%= f.label t("description") %></td>
<td class="eformCln2"><%= f.text_area :item_desc, :size => "60x12" %></td>
</tr>
<tr>
<td class="eformCln1 c00"> </td>
<td class="eformCln2"><%= collection_select :item, :category_id, Category.find(:all), :id, :category_name %>
<%= collection_select :item, :item_action_id, ItemAction.find(:all), :id, :item_act %></td>
</tr>

<% x=0 %>
<%= f.fields_for :item_photos do |builder|  %>
<tr>
<td class="eformCln1"> </td>
<td class="eformCln2">
    <div class="fm-item">
    <%= builder.file_field :photo,:id => "upload-file#{x}" %>
    </div>
    <div style="width: 50em;">
    <button type="submit" id="upload-button<%= x %>">Submit</button>
    <span id="file-name<%= x %>"></span>
    </div>
<% x+=1 %>
</td>
</tr>
<% end %>

<tr>
<td class="eformCln1"> </td>
<td class="eformCln2"><%= f.submit t(:add) %></td>
</tr>

</tbody>
</table>

<% end %>
</div>
</div>
<%= link_to t('back'), request.referer %>

