<div class="list_box">
<div class="list_box_left">

<div id="bigPic">
<% @item.item_photos.each do |pix| %>
<%= link_to(image_tag(pix.photo.url(:small)), pix.photo.url(:large), :rel => "lightbox") unless pix.photo.nil? %>
<% end %>
</div>

<% if @item.item_photos.count > 1 %>
<ul id="thumbs">
<% x = 1 %>
<% @item.item_photos.each do |pix| %>
<li rel="<%= x %>"><%= image_tag(pix.photo.url(:small)) %></li>
<% x += 1 %>
<% end %>
</ul>
<% end %>
</div>

<div class="list_box_right">

<%= render :partial => "admin_edit", :locals => { :item => @item } %>

<span class="db pb"><%= User.find_by_id(@item.user_id).city %></span>

<% if signed_in? %>
    <% if @item.user_id != current_user.id %>
	<% if current_user.basket_items.find_by_item_id(@item.id) %>
	    <span class="db pb fb cred"><%= t("in_basket")%></span>
	<% else %>
	    <span class="fr"><%= link_to "Хочу!", basket_add_path(@item.id),:class => "button c00" %></span>
	<% end %>
    <% end %>
<% end %>
</div>


<div class="list_box_middle">
<h3><%= @item.item_name %></h3>
<span class="db pb"><%= @item.item_desc %></span>
<span class="db"><%= image_tag "/assets/icons/user.png"%> <%= link_to @user.user_name, user_path(@user.id) %></span>
<span class="f10 c00 rp10"><%= image_tag "/assets/icons/cost.png"%> <%= @category.category_name %></span>
<span class="f10 c00"><%= image_tag "/assets/icons/bank.png"%> <%= @action.item_act %></span>
<span class="f10 db"><%= @item.created_at %></span>
</div>
</div>
<%= link_to t(:back), request.referer %>