
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A19D9A;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #6F3000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #8F3000;
}

a:hover {
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 100px;
	background: #F2F3F0;
}

#header {
	width: 1024px;
	margin: 0 auto;
	padding: 0px 0px 0px 30px;
}

small,.small {font-size: 0.8em;}

/* Logo */

input, select,textarea {
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1) inset;
}

#logo {
	float: left;
	width: 350px;
	margin: 0;
	padding: 0;
	color: #000000;
	background: url(/assets/img02.jpg) no-repeat left 15px;
}

#logo h1, #logo p {
}

#logo h1 {
	margin-left: 70px;
	padding: 40p 0px 0px 80px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.8em;
	color: #883000;
}

#logo h1 a {
	color: #F84100;
}

#logo h1 span {
	color: #333333;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 62px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #666666;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #666666;
}



#login {
	border: 1px solid #E0E0E0;
	width: 170px;
	padding: 10px 15px 10px 15px;
	background: #F3F3EE;
}

#login input {
	width: 100%;
	padding-top: 3px;
	border: 1px solid #DEDEDE;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1) inset;
	text-transform: lowercase;
}

#login .sbmit {
	padding: 3px;
	margin-left:4%;
	margin-top:4%;
	width: 150px;
	background: #880000;
	color: #FFFFFF;
}
/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
	background: #F3F3EE;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #FA4100;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
	width: 450px;
	height: 100px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 60px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 1px;
	padding: 10px 15px 14px 15px;
	background: #D8DBCD;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #006666;
	text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 1024px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#page-bgtop {
	padding: 20px 0px;
}

.flash.error {
	color: #F01010;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -.5px;
}

/* Content */

#content {
	float: right;
	width: 75%;
	padding: 0px 0px 0px 0px;
}

.entry {
	padding: 0px 10px 20px 10px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 200px;
	margin: 0px;
	padding: 0px 20px 0px 0px;
	color: #201818;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dotted #E7E2DC;
	margin: 0px 0px 0px 30px;
	border-left: none;
	text-align: right;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 15px 0px 0px;
	background: url(/assets/img01.jpg) no-repeat right 5px;
}

#sidebar h2 {
	height: 38px;
	padding-top: 10px;
	padding-right: 10px;
	text-align: right;
	letter-spacing: -.5px;
	font-size: 1.8em;
	background: #F3F3EE;
}


#sidebar p {
	margin: 0 0px;
	padding: 0px 0px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #A19D9A;
}

#sidebar a:hover {
	text-decoration: none;
	color: #FF3000;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #F2F3F0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #767676;
}

#footer a {
	color: #767676;
}

.submnu {
	display: none;
}

.submenu_open {
	display: block;
	height: 50px;
}

#sidemenu
{
    width: 200px;
    padding-bottom: 0px;
}

#sidemenu h3 {
	font: bold 13px;
	background: #F3F3EE;
	margin-bottom: 2px;
	text-align: right;	
	padding: 7px 7px 7px 1px;
}

/* menu icons */
li#my_inbox {
    display: block;
    background: url(/assets/icons/email.png) no-repeat center left ;
    padding-left: 18px;
}

li#incoming {
    display: block;
    padding-left: 18px;
}

li#sent {
    display: block;
    padding-left: 18px;
}

li#my_basket {
    display: block;
    background: url(/assets/icons/basket.png) no-repeat center left;
    padding-left: 18px;
}

li#my_profile {
    display: block;
    background: url(/assets/icons/my-account.png) no-repeat center left ;
    padding-left: 18px;
}

li#my_items {
    display: block;
    background: url(/assets/icons/order.png) no-repeat center left;
    padding-left: 18px;
}

li#sign_out {
    display: block;
    background: url(/assets/icons/sign-out.png) no-repeat center left ;
    padding-left: 18px;
}

ul#main.primary.semantic-navigation {
	list-style-type: none;
	margin: 0;
	padding-left: 10px;
	background: #FFFFFF;
}

ul#main.primary.semantic-navigation li span {
	padding-bottom: 2px;
	background: #FFFFFF;
	display: block;
	lline-height: 17px;
}

ul#main.primary.semantic-navigation span {
	color: #A19D9A;
	padding-left: 8px;
}

ul#main.primary.semantic-navigation span:hover {
	color: #FF3000;
	background: #E9F0F0;
}

li#my_profile.disabled.highlighted span {
    color: #8F3000;
    padding-bottom: 2px;
    display: block;
    bbackground: #E9F0F0;
}

li#my_items.disabled.highlighted span {
    color: #8F3000;
    display: block;
    bbackground: #E9F0F0;
    padding-bottom: 2px;
}

li#my_basket.disabled.highlighted span {
    color: #8F3000;
    padding-bottom: 2px;
    display: block;
    bbackground: #E9F0F0;
}

li#incoming.disabled.highlighted span {
    color: #8F3000;
    padding-bottom: 2px;
    display: block;
    bbackground: #E9F0F0;
}

li#sent.disabled.highlighted span {
    color: #8F3000;
    padding-bottom: 2px;
    display: block;
    bbackground: #E9F0F0;
}


.inbox_list_box {
    padding: 0px 0pt 15px;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 1px;
    background: #FAFFFA;
    height: 100%;
}

.inbox_title {
    margin: 1px 10px 10px 0px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #A19D9A;
    padding-left: 2px;
    padding-top: 6px;
    padding-bottom: 3px;
}

.bgseen
    {
        background: #F5F5F5;
    }

.bgnew
    {
        background: #E0F0A0;
    }

.inbox_title_right {
    float: right;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 10px;
}

.list_box {
    padding: 10px 0pt 10px;
    border-bottom: 1px solid #F0F0F0;
    overflow: hidden;
    height: 100%;
    margin: 5px 10px 10px;
}

.list_box_left {
    float: left;
    width: 160px;
    background: none repeat scroll 0% 0% #FFFFFF;
    position: relative;
}

.list_box_right {
    float: right;
    width: 130px;
    padding: 0pt;
    line-height: 20px;
    text-align: right;
}


.list_box_right span.act01 {
    font-size: 12px;
}

.list_box_middle {
    margin-left: 170px;
    margin-right: 130px;
    line-height: 18px;
}

.l_right {
    float: right;
    margin-top: 2px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
    background-color: #D8DFE9;
    color: #000000;
    font-weight: bold;

}

.rp10 {
    padding-right: 10px;
    }

.lp10 {
    padding-left: 30px;
    }
    
.pb10 {
    padding-bottom: 10px;
    }

.pb {
    padding-bottom: 10px;
    }

.pu {
    padding-top: 10px;
    }

.m8 {
    margin: 8px;
    }
    
.db {
    display: block;
}

.c00 {
    color: black;
}

.cred {
    color: #6F3000;
}

.f10 {
    font-size: 10px;
    }

.fr {
    float: right;
    }

.fl {
    float: left;
    }

.fb {
        font-weight: bold;
    }

.button {
    cursor:pointer;
    display:block;
    height:25px;
    width:109px;
    line-height:25px;
    text-align:center;
    background-image:url('/assets/122.gif');
    background-repeat:no-repeat;
}

.bgf8 {
    background-color: #F8F8F8;
}

/* sortbar */
.page-wrap {
    background-color: #F8F8F8;
    line-height: 16px;
    padding: 16px 12px 16px 20px;
}


.latest_list {
    padding: 3px 0px 0px 0px;
    border-bottom: 1px solid #F0F0F0;
    overflow: hidden;
    height: 100%;
    margin: 0px 0px 0px;
}

.latest_list_r {
    float: right;
    width: 127px;
    margin-right: 5px;
    line-height: 20px;
    text-align: right;
}

#sidebar .latest_list_r a {
    color: #6F3000;
    font-weight: bold;
}

.latest_list_l {
    float: left;
    width: 66px;
    background: none repeat scroll 0% 0% #FFFFFF;
    position: relative;
}

.latest_list_l img {
	width:64px;
	height:64px;
}

/* edit form table */
.eformCln1 {
    width: 150px;
    height: 30px;
    padding-right: 10px;
    text-align: right;
}

.eformCln2 {
    height: 30px;
}


/* upload baton */

.hide-file {
    position: absolute;
    left: -99999px;
}
            
#upload-button, #upload-button0, #upload-button1, #upload-button2 {
    background: #c66944;
    color: #fff;
    border: 1px solid #ce653b;
    border-radius: 4px;
    width: 10em;
    text-align: center;
    padding: 1px 0;
    }

#file-name,#file-name0,#file-name1,#file-name2 {
        font-size: 80%;
        color: #999;
    }


/* show user */
#divUserPhoto {
    width: 180px;
    height: 210px;
    border: 1px dotted #CCCCCC;
    float: left;
}

#divUserPic {
    width: 150px;
    margin: 20px auto;
    height: 180px;
    -border: 1px solid #CCCCCC;
}

#error_box {
    width: 90%;
    margin: 0px auto;
    border: 2px solid #E00000;
    padding: 6px;
    background: none repeat scroll 0% 0% #FFE0E0;
    border-radius: 15px 15px 15px 15px;
}

.notice {
    color: #28485E;
    border: 1px solid #8A9DAA;
    background: none no-repeat scroll 10px center #B8D1E2;
}

.warn {
    color: #28485E;
    border: 1px solid #B89004;
    background: none no-repeat scroll 10px center #F9C006;
}

.message {
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    margin: 0px auto 15px;
    -color: white;
    -text-shadow: 0px 1px 0px rgba(0,0,0,0.3);

}

.block {
    background: none repeat scroll 0% 0% #F9F9F9;
    text-shadow: 0px 1px 0px white;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 1px 1px rgba(0,0,0,0.3);
    border-radius: 6px 6px 6px 6px;
}

.block h2 {
    background: none repeat scroll 0% 0% rgb(38, 31, 31);
    color: white;
    font-size: 20px;
    padding: 10px;
    text-shadow: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.block_content {
    padding: 10px 40px;
}

.bw1 {
    margin-left: 15%;
    width: 65%;
}

.bw2 {
    margin-left: 15%;
    width: 45%;
}
