<h1>О сайте Skarb</h1>
<br>
<span class="c00">
Избавься от ненужных вещей!
Здесь вы можете отдать, продать ненужную вам вещь или найти вещь полезную для себя.
<br><br>
Итак, если вам интересно, для начала пройдите процедуру регистрации, она максимально проста и не займет много времени.
Нужно указать ваш реальный e-mail адрес, который будет использован в качестве логина и на который так же будут приходить оповещения при взаимодействии с другими пользователями сайта.
<br><br>
</span>
