<% items = latest_items %>
<% if items.blank? %>
<p>There are not any new items</p>
<% else %>
<% items.each do |i| %>

<div class="latest_list">
<div class="latest_list_l">
<%= link_to(image_tag(i.item_photos.first.photo.url(:small)),items_path(i.id)) unless i.item_photos.first.nil? %>
</div>
<div class ="latest_list_r">
<%= link_to i.item_name, items_path(:id=>i.id) %>
<span class="act01 db c00"><%= i.item_action.item_act %></span>
<span class="db c00 f10"><%= i.created_at.strftime("%d %b.") %></span>
</div>
</div>

<% end %>
<% end %>
