<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
 
  <%= stylesheet_link_tag 'main_style', :media => 'screen' %>
  <%= stylesheet_link_tag 'lightbox', :media => 'screen' %>
  <%= stylesheet_link_tag 'carousel', :media => 'screen' %>
  <%= stylesheet_link_tag 'jackedup', :media => 'screen' %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#"><span>Ska</span>rb  </a></h1>
				<p> Избавься от барахла! </p>
			</div>
			<div id="menu">
				<ul>
					<%= nav_link(t('home'),"application","about","http://xep.8800.org:4040/about").html_safe %>
					<%= nav_link(t('items'),"items","list",items_list_path).html_safe %>
					<%= nav_link(t('categories'),"category",nil,category_list_path).html_safe %>
					<% if is_admin? %>
					<%= nav_link(t('users'),"user",nil,user_list_path).html_safe %>
					<% end %>				
				</ul>
			</div>
		</div>
	</div>
<!-- end #header -->

<div id="page">
	<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
<% unless flash.blank? %> 
<div class="notify_box">
        <% flash.each do |key, value| %>
	<script type="text/javascript">humane.waitForMove = true; humane.log("<%= value %>")</script>
        <% end %>
</div>
<% end %>
						<div style="clear: both;">&nbsp;</div>
		<%= yield %>

					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
<% if current_user %>

<div id="sidemenu">
<h3>Привет <%= link_to current_user.user_name, current_user %></h3>
<% semantic_navigation :main, :html => { :class => 'primary' } do |n| %>
<% inbx_cnt = new_count %>
<% if !inbx_cnt.nil? && inbx_cnt > 0 %>
<div class="l_right"><%= inbx_cnt %></div>
<% end %>
<%= n.item t('my_inbox'), :html => {:id=> "my_inbox"} %>
<div class="submnu">
<%= n.item t('incoming'), :html => {:id=> "incoming"}, :link => incoming_list_path( :id => current_user.id), :disabled_if => proc { request.path == incoming_list_path(:id=>current_user.id) }%>
<%= n.item t('sent'), :html => {:id=> "sent"}, :link => sent_list_path( :id => current_user.id), :disabled_if => proc { request.path == sent_list_path(:id=>current_user.id) }%>
</div>

<% basket_cnt = inbasket_count %>
<% if !basket_cnt.nil? && basket_cnt > 0 %>
<div class="l_right"><%= basket_cnt %></div>
<% end %>
<%= n.item t('my_basket'), :html => {:id=> "my_basket"}, :link => basket_list_path( :id => current_user.id), :disabled_if => proc { request.path == basket_list_path(:id=>current_user.id) } %>
<%= n.item t('my_items'), :html => {:id=> "my_items"}, :link => user_items_path( :id => current_user.id), :disabled_if => proc { request.path == user_items_path(:id=>current_user.id) } %>
<%= n.item t('my_profile'), :html => {:id=> "my_profile"}, :link => user_path( :id => current_user.id), :disabled_if => proc { request.path == user_path(:id=>current_user.id) } %>
<%= n.item t('signout'), :html => {:id=> "sign_out"}, :link => sessions_out_path %>
<% end %>
</div>
    <% else %>
<%= render 'layouts/login' %>
<% end %>

<div id="sidebar">

<ul>
<div style="clear: both;">&nbsp;</div>
					
						<li>
							<h2><%= t("categories")%></h2>
							<ul>
							<% @categories = Category.find(:all) if @categories.nil? %>
							<% @categories.each do |c| %>
							<li><%= link_to c.category_name, items_list_path(:category => c.id) %></li>
							<% end %>
							</ul>
						</li>
					</ul>
				<h2><%= t("latest")%></h2>
				<%= render 'layouts/latest' %>

				</div>


				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>

<%= render 'layouts/footer' %>

</body>
</html>
